.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
    gap: 2.5rem;
}

.gallery-grid, img {
    height: 200px;
    width: 25%;
    object-fit: contain;
}

.gallery-grid-item {
    background-color: var(--white);
    padding: 2.5rem;
    border-radius: 12px;
    border: 1px solid var(--border);
    transition: all 0.3s ease;
    position: relative;
}


.slideshow {
    width: 100%;
    height: 600px;
    position: relative;
    margin: 0 auto;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade 16s infinite;
}

.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 4s; }
.slide:nth-child(3) { animation-delay: 8s; }
.slide:nth-child(4) { animation-delay: 12s; }

@keyframes fade {
    0%, 100% { opacity: 0; }
    25% { opacity: 1; }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}