.slideshow {
    width: 800px;
    height: 500px;
    position: relative;
    margin: 0 auto;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade 16s infinite;
}

.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 4s; }
.slide:nth-child(3) { animation-delay: 8s; }
.slide:nth-child(4) { animation-delay: 12s; }

@keyframes fade {
    0%, 100% { opacity: 0; }
    25% { opacity: 1; }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}